<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hazem.wazkar">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.hazem.wazaker.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name="com.hazem.wazaker.recevier.NotificationReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity android:name="com.hazem.wazaker.Activites.FortyListActivity" />
        <activity
            android:name="com.hassanjamil.hqibla.CompassActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.hazem.wazaker.Activites.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hazem.wazaker.Activites.MainActivity"
            android:screenOrientation="portrait"
           />
        <activity android:name="com.hazem.wazaker.Activites.AzkarListActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name="com.hazem.wazaker.Activites.Counter" />
        <activity android:name="com.hazem.wazaker.Activites.FortyActivity" />
        <activity android:name="com.hazem.wazaker.Activites.ZekerActivity" />
        <activity android:name="com.hazem.wazaker.Activites.AudioActivity"/>
        <activity android:name="com.hazem.wazaker.Activites.MorAzkar"/>
        <activity android:name="com.hazem.wazaker.Activites.NightAzkar"/>
    </application>

</manifest>