<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hamza.wazkar">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.hamza.Wazaker.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <receiver
            android:name="com.hamza.Wazaker.recevier.NotificationReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.hamza.Wazaker.Activites.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.hamza.Wazaker.Activites.FortyHadithListActivity" />
        <activity android:name="com.hassanjamil.hqibla.CompassActivity" />

        <activity android:name="com.hamza.Wazaker.Activites.MainActivity.MainActivity" />
        <activity
            android:name="com.hamza.Wazaker.Activites.AzkarListActivity"
            tools:ignore="InnerclassSeparator" />
        <activity android:name="com.hamza.Wazaker.Activites.CounterActivity.CounterActivity" />
        <activity android:name="com.hamza.Wazaker.Activites.FortyHadithActivity" />
        <activity android:name="com.hamza.Wazaker.Activites.ZekerActivity" />
        <activity android:name="com.hamza.Wazaker.Activites.MorningAzkarActivity" />
        <activity android:name="com.hamza.Wazaker.Activites.EveningAzkarActivity" />
    </application>

</manifest>